/* Reset default margin and padding */
body, h1, h2, h3, p, ul, ol, li, table, th, td {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #3498db; /* Blue color */
  overflow: hidden;
  padding: 10px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}

.header {
  background-color: #2c3e50; /* Dark blue color */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.tableau {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tableau th, .tableau td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tableau th {
  background-color: #3498db; /* Blue color */
  color: white;
}

.tableau tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
