     .navbar {
       background-color: #3498db; /* Blue color */
       overflow: hidden;
     }

     .navbar a {
       float: left;
       display: block;
       color: white;
       text-align: center;
       padding: 14px 20px;
       text-decoration: none;
     }

     .navbar a:hover {
       background-color: #2980b9; /* Darker blue color */
     }



    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }

    #logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
      margin-left: auto;
      margin-right: 10px;
    }

    .header-text {
      display: flex;
      flex-direction: column;
    }

    .header-text h1 {
      margin: 0;
      font-size: 24px;
    }

    .header-text h2 {
      margin: 0;
      font-size: 18px;
      display: f;
    }

    .header-amount {
      font-size: 36px;
      font-weight: bold;
      margin-right: 10px;
    }

    .header-menu {
      display: flex;
      justify-content: space-around;
      background: linear-gradient(0.25turn, #ccc, #ebf8e1, #ccc);
      padding: 10px;
    }

    .header-menu div {
      width: 100px;
      height: 50px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      font-weight: bold;
    }

    .menu_button {
        padding: 35px 80px;
        border: none;
        border-radius: 5px;
        color: black;
        font-size: 2em;
        font-weight: bold;
        margin: 20px;
        cursor: pointer;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      }

      .tableau {
        border-collapse: collapse;
        width: 100%;
        margin-top: 50px;
    }
    .tableau th, .tableau td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    .tableau th {
        background-color: #f2f2f2;
    }