form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

#cancel {
  background-color: red;
}

#cancel:hover {
  background-color: darkred;
}

#submit {
  background-color: lightgreen;
}

#submit:hover {
  background-color: darkgreen;
}

.boite {
  border: 2px solid #ccc;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}


.tableau {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
}
.tableau th, .tableau td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.tableau th {
  background-color: #f2f2f2;
}